.banner {
    /* background-image: url(../../assets/hero.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100;
    height: 90vh;
}


.cover {
    width: 100%;
    height: 89vh;
    background-color: black;
    opacity: 0.4;
}

